#time {
    text-align: center;
    font-size: 10vw;
    font-family: monospace;
    color: black;
    margin-left: 1px;
    margin-right: 1px;
}

#system-time {
    text-align: center;
    font-size: 6vw;
    font-family: monospace;
    font-weight: 500;
    color: gray;
    margin-left: 1px;
    margin-right: 1px;
}

#user-time {
    text-align: center;
    font-size: 6vw;
    font-family: monospace;
    font-weight: 500;
    color: gray;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 15px;
}

#period {
    font-size: 4vw;
    vertical-align: top;
    color: darkgray;
    margin-left: 0.5vw;
}

#globe {
    padding: 5vw;
}

path.sphere-outline {
    fill: none;
    stroke-width: 0.5;
    stroke: gray;
}

path.country {
    stroke-width: 0.5;
    stroke: darkslateblue;
    fill: skyblue;
    fill-opacity: 0.5;
}

path.country-back {
    stroke-width: 0.5;
    stroke: mediumslateblue;
    fill: lightblue;
    fill-opacity: 0.5;
}

path.hour-meridian {
    fill: none;
    stroke-width: 4;
    stroke: gray;
}

path.hour-meridian-back {
    fill: none;
    stroke-width: 4;
    stroke: lightgray;
}

path.minute-meridian {
    fill: none;
    stroke-width: 3;
    stroke: gray;
}

path.minute-meridian-back {
    fill: none;
    stroke-width: 3;
    stroke: lightgray;
}

path.mean-sun-meridian {
    fill: none;
    stroke-width: 14;
    stroke: darkorange;
    stroke-linecap: round;
    opacity: 0.8;
}

path.mean-sun-meridian-back {
    fill: none;
    stroke-width: 14;
    stroke: palegoldenrod;
    opacity: 0.8;
}

path.north-pole-circle {
    fill: darkorange;
    stroke: darkorange;
}

path.north-pole-circle-back {
    fill: palegoldenrod;
    stroke: palegoldenrod;
}

path.apparent-sun-meridian {
    fill: none;
    stroke-width: 14;
    stroke: darkorange;
    opacity: 0.2;
    stroke-linecap: round;
}

path.apparent-sun-meridian-back {
    fill: none;
    stroke-width: 14;
    stroke: palegoldenrod;
    opacity: 0.2;
}

path.user-meridian {
    fill: none;
    stroke-width: 4;
    stroke: red;
}

path.user-meridian-back {
    fill: none;
    stroke-width: 4;
    stroke: lightcoral;
}
