#time {
    display: flex;
    justify-content: center;
    font-size: 10vw;
    font-family: monospace;
    margin-left: 20px;
    margin-right: 20px;
}

#localTime {
    display: flex;
    justify-content: center;
    font-size: 4.5vw;
    font-family: monospace;
    margin-left: 20px;
    margin-right: 20px;
}

#timeColonized {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-family: monospace;
    color: #8a8a8a;
    margin-left: 20px;
    margin-right: 20px;
}

#localTimeColonized {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-family: monospace;
    color: #8a8a8a;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#globe {
    margin: 10px;
    padding: 25px;
}

path.country {
    stroke-width: 0.5;
    stroke: #5753a0;
    fill: #7dc7dc;
    fill-opacity: 0.5;
}

path.country-back {
    stroke-width: 0.5;
    stroke: #7e7cac;
    fill: #b6dde8;
    fill-opacity: 0.5;
}

path.hours {
    fill: none;
    stroke-width: 1.5   ;
    stroke: #827669;
}

path.hours-back {
    fill: none;
    stroke-width: 1.5;
    stroke: #c2bbb4;
}

path.sun {
    fill: none;
    stroke-width: 8;
    stroke: #d87d1c;
    stroke-linecap: round;
}

path.sun-back {
    fill: none;
    stroke-width: 8;
    stroke: #f0cea7;
    stroke-linecap: round;
}

path.local-noon {
    fill: none;
    stroke-width: 1.5;
    stroke: #d87d1c;
}

path.local-noon-back {
    fill: none;
    stroke-width: 1.5;
    stroke: #f0cea7;
}
