#time {
    display: flex;
    justify-content: center;
    font-size: 10vw;
    font-family: monospace;
    margin-left: 10px;
    margin-right: 10px;
}

#timeColonized {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    font-family: monospace;
    color: #8a8a8a;
    margin-left: 10px;
    margin-right: 10px;
}

#userTimeColonized {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    font-family: monospace;
    color: #8a8a8a;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#globe {
    margin: 1vw;
    padding: 4vw;
}

path.sphere-outline {
    fill: none;
    stroke-width: 0.25;
    stroke: #827669;
}

path.country {
    stroke-width: 0.5;
    stroke: #5753a0;
    fill: #7dc7dc;
    fill-opacity: 0.5;
}

path.country-back {
    stroke-width: 0.5;
    stroke: #7e7cac;
    fill: #b6dde8;
    fill-opacity: 0.5;
}

path.hour-meridian {
    fill: none;
    stroke-width: 2;
    stroke: #827669;
}

path.hour-meridian-back {
    fill: none;
    stroke-width: 2;
    stroke: #c2bbb4;
}

path.sun-meridian {
    fill: none;
    stroke-width: 10;
    stroke: #d87d1c;
    stroke-linecap: round;
}

path.sun-meridian-back {
    fill: none;
    stroke-width: 10;
    stroke: #f0cea7;
    stroke-linecap: round;
}

path.user-meridian {
    fill: none;
    stroke-width: 2;
    stroke: #d87d1c;
}

path.user-meridian-back {
    fill: none;
    stroke-width: 2;
    stroke: #f0cea7;
}
